@page
@model Agenda_NetRazorP.Pages.Categories.NewModel
@{
    ViewData["Title"] = "Añadir Categoría";
}

<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <div class="text-info"> Añadir Categoría</div>
            <form method="post">
                <div class="mb-1">
                    <label asp-for="category.Name" class="form-label"></label>
                    <input asp-for="category.Name" class="form-control" placeholder="Nombre de la categoria"/>
                    <span asp-validation-for="category.Name" class="text-danger"></span>
                </div>
                <div class="mb-1">
                    <label asp-for="category.CreationDate" class="form-label"></label>
                    <input asp-for="category.CreationDate" class="form-control" placeholder="Fecha de Creación" />
                    <span asp-validation-for="category.CreationDate" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary">Crear Categoria</button>

            </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div>
            <a asp-page="Index" class="btn btn-success"> Volver</a>
        </div>
    </div>
</div>